<head>
  <div style="text-align: center;">
      <h1>
          Welcome to CookHub
      </h1>
  </div>
  <link rel="stylesheet" type="/text/css" href="/src/styles.css">
 
  </head>
  <head>
    <div style="text-align: center;">
        <h1>
            Welcome to CookHub
        </h1>
    </div>
    <link rel="stylesheet" type="/text/css" href="/src/styles.css">
    
      
    </head>
    
    
    
     <!-- ======= Hero Section ======= -->
     
     
        <div class="picsum-img-wrapper">
          <section id="hero" class="d-flex align-items-center">
            <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="row">
                <div class="col-lg-8">
                  <h1>Welcome to <span>CookHub</span></h1>
                  <h2>Designed to delight!</h2>
                  <h6>Helping to discover and share the joy of home cooking</h6>
        
                  <div class="btns">
                    <a href="/login" class="btn-menu animated fadeInUp scrollto">login</a>
                    <a href="/signup" class="btn-book animated fadeInUp scrollto">register</a>
                  </div>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
                  <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8" class="glightbox play-btn"></a>
                </div>
        
              </div>
            </div>

          </section>
          
        </div>
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
     
       
        
       
    
    <!-- End Hero -->
      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
        

        <div class="container" data-aos="fade-up">
          <div class="animation">
          <div class="section-title">
            <h2>Why Us?</h2>
           
          </div>
  
          <div class="row">
  
            <div class="col-lg-4 " >
              <div class="box" data-aos="zoom-in" data-aos-delay="100">
                <span>01</span>
                
                <h4>Search for the receipe</h4>
                <p>Just add your ingredients and Supercook instantly by finding the matching recipes from the CookHub!<br>Searching by ingredient allows you to set your parameters based on what you have available
                </p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="200">
                <span>02</span>
                <h4>Add your receipes</h4>
                <p>Login and add your unique receipies.You can also edit them at any time.<br><br><br><br><br><br></p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0">
              <div class="box" data-aos="zoom-in" data-aos-delay="300">
                <span>03</span>
                <h4>How this works?</h4>
                <p>The app lets you list ingredients to include or omit in recipe results. That way, if you don’t have chicken in the fridge, the app won’t show any recipes that contain chicken.<br><br></p>
              </div>
            </div>
  
          </div>
  
        </div>
        </div>
        
      </section><!-- End Why Us Section -->
      <!--Specials-->
      <section class="row tm-section-mb tm-section-2">
    
        <div class="col-md-12 tm-section-2-inner">
          <div class="tm-section-2-left">
                <div class="tm-img-container tm-img-container-1"></div>
                <div class="tm-img-container tm-img-container-2"></div>
          </div>
          <div class="tm-section-2-right tm-bg-primary">
            <div class="tm-section-2-text">
              <h2 class="tm-section-2-header tm-mb-45" style="font-size: 30px; font-weight: 600; text-align: center; color: black;">HOMEMADE SALAD DRESSINGS</h2>
              <p></p>
              <p class="tm-p-ml" style="font-size: 30px;  padding: 0; margin: 0;">Making dressing isn’t hard and there’s no need to have a mile long list of ingredients in them. You can have more variety when you make your own, and you’ll quickly learn what flavors you love together.<br>Find the receipe here! </p>
            </div>
          </div>
        </div>
      
      </section>
      <section class="row tm-section-3">
        <div class="col-md-12 tm-section-3-inner">
          <div class="tm-section-3-left tm-bg-accent">
            <div class="tm-section-3-text">
              
              <h2 class="tm-section-3-header tm-mb-35" style="font-size: 30px; font-weight: 600; text-align: center; color: black;">APPLE PIE</h2>
              <p style="font-size: 30px;  padding: 0; margin: 0;">Just when you thought apple pie couldn't get any better, this recipe raises the bar like no other. Truly our best-ever, make this classic for a get-together and you might not have any leftovers to bring home. Top off this warm, melt-in-your mouth pie with a sprinkle of cinnamon and a scoop of ice cream.</p>
              <a href="#" class="d-block tm-welcome-link"></a>
            </div>
          </div>
          <div class="tm-section-3-right">
            <div class="tm-img-container tm-img-container-3"></div>
          </div>
        </div>
      
    </section>
    <section class="row tm-section-mb tm-section-2">
      <div class="col-md-12 tm-section-2-inner">
        <div class="tm-section-2-left">
              <div class="tm-img-container tm-img-container-4"></div>
              <div class="tm-img-container tm-img-container-5"></div>
        </div>
        <div class="tm-section-2-right tm-bg-primary">
          <div class="tm-section-2-text">
            <h2 class="tm-section-2-header tm-mb-45" style="font-size: 30px; font-weight: 600; text-align: center; color: black;">GULAB JAMUN</h2>
            <p></p>
            <p class="tm-p-ml" style="font-size: 30px;  padding: 0; margin: 0;">A classic Indian dessert that never fails to impress! Gulab Jamun is usually made in Indian homes on festive and special occasions. Gulab meaning rose and Jamun meaning berry makes for Gulab Jamun as a berry-sized ball dunken in rose flavoured sugar syrup. It can be served hot or just a stand-alone chilled dish. </p>
          </div>
        </div>
      </div>
    </section>
      <!--End of Specials-->
     
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
    <!-- Vendor JS Files -->
    <script src="/src/assets/vendor/aos/aos.js"></script>
    <script src="/src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/src/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/src/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/src/assets/vendor/php-email-form/validate.js"></script>
    <script src="/src/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/src/assets/main.js"></script>
    <script src="../styles.js"></script>
  <script src="home.component.js"></script>