
<body>
<div class="quotes">
  <h2 class = "title">Find Meals For Your Ingredients</h2>
     <div class="quo">
        <blockquote>Real food doesn't have ingredients, real food is ingredients.<br>
          <cite>- Jamie Oliver</cite>
        </blockquote>
      </div>
    </div>
  <div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Search a receipe for your ingredients here !!!">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
<div class="row"> 
    <div class="column">
     
      
      
    </div>
    <div class="column">
     
      
      <iframe class="video" width="800" height="345" > <a href="https://www.youtube.com/watch?v=GlrxcuEDyF8"></a>
      </iframe>
      
    </div>
     
    <div class="column">
     
      
    </div>
    
  </div>
  
  </body>